Repository yatskeech/datepicker-component: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{css,module.css}": ["stylelint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"]
}

fix: update lint-staged configuration to separate commands for stylelint and eslint
  .lintstagedrc
Due: none

feat: implement calendar filling
  src/lib/date.test.ts
  src/lib/date.ts
  src/model/constants.ts
  src/model/types.d.ts
  src/model/use-date-picker.ts
  src/ui/date-picker.tsx
Due: prettier --write, eslint --fix

refactor: restructure date-related hooks and types for improved functionality
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/model/types.d.ts
  src/model/use-date-picker.ts
  src/model/use-preview-calendar.ts
  src/model/use-select-date.ts
  src/ui/date-picker.tsx
  src/ui/date-picker/date-picker.module.css
  src/ui/date-picker/date-picker.stories.tsx
  src/ui/date-picker/date-picker.tsx
  src/ui/day-item/day-item.module.css
  src/ui/day-item/day-item.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat: enhance DatePicker with navigation controls and update styles
  src/model/constants.ts
  src/model/use-preview-calendar.ts
  src/ui/cell-item/cell-item.module.css
  src/ui/cell-item/cell-item.tsx
  src/ui/date-controls/date-controls.module.css
  src/ui/date-controls/date-controls.tsx
  src/ui/date-picker/date-picker.module.css
  src/ui/date-picker/date-picker.tsx
  src/ui/day-item/day-item.module.css
  src/ui/day-item/day-item.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat: enhance accessibility for date controls and add sr-only styles
  src/ui/date-controls/date-controls.tsx
  src/ui/date-picker/date-picker.module.css
  src/ui/date-picker/date-picker.tsx
  src/ui/index.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: replace DatePicker story and update styles for consistency
  src/stories/date-picker.stories.tsx
  src/ui/date-picker/date-picker.module.css
Due: stylelint --fix, prettier --write, eslint --fix

refactor: simplify createDay function and improve day state handling
  src/model/use-preview-calendar.ts
Due: prettier --write, eslint --fix

fix: correct previous month days calculation in usePreviewCalendar
  src/model/use-preview-calendar.ts
Due: prettier --write, eslint --fix

feat: implement DatePicker component with input and popover, add date parsing and icon support
  src/lib/date.test.ts
  src/lib/date.ts
  src/model/use-date-input.ts
  src/model/use-popover.ts
  src/model/use-select-date.ts
  src/ui/date-controls/date-controls.tsx
  src/ui/date-picker-input/date-picker-input.module.css
  src/ui/date-picker-input/date-picker-input.tsx
  src/ui/date-picker-popover/date-picker-popover.module.css
  src/ui/date-picker-popover/date-picker-popover.tsx
  src/ui/date-picker/date-picker.module.css
  src/ui/date-picker/date-picker.tsx
  src/ui/icon.tsx
  src/ui/index.css
  stylelint.config.js
Due: stylelint --fix, prettier --write, eslint --fix

feat: implement date picker calendar with popover functionality
  package.json
  pnpm-lock.yaml
  src/model/constants.ts
  src/model/use-date-input.ts
  src/model/use-popover.ts
  src/ui/date-picker-calendar/date-picker-calendar.module.css
  src/ui/date-picker-calendar/date-picker-calendar.tsx
  src/ui/date-picker-input/date-picker-input.module.css
  src/ui/date-picker-input/date-picker-input.tsx
  src/ui/date-picker/date-picker.module.css
  src/ui/date-picker/date-picker.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat: add autoUpdate middleware to usePopover for improved positioning
  src/model/use-popover.ts
Due: prettier --write, eslint --fix

feat: add README.md with component overview, usage, and development guidelines
  README.md
Due: none

feat: enhance date picker functionality with range support in components
  src/model/use-preview-calendar.ts
  src/model/use-select-date.ts
  src/stories/date-picker.stories.tsx
  src/ui/date-picker-calendar/date-picker-calendar.tsx
  src/ui/date-picker-input/date-picker-input.tsx
  src/ui/date-picker/date-picker.tsx
Due: prettier --write, eslint --fix

feat: update pre-commit hook to run unit and storybook tests, refactor date picker calendar and input components, add new tests, and adjust TypeScript configuration
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .storybook/main.ts
  package.json
  src/model/use-preview-calendar.ts
  src/stories/date-picker.stories.tsx
  src/ui/cell-item/cell-item.tsx
  src/ui/date-controls/date-controls.tsx
  src/ui/date-picker-calendar/date-picker-calendar.module.css
  src/ui/date-picker-calendar/date-picker-calendar.tsx
  src/ui/date-picker-input/date-picker-input.tsx
  stories/date-picker.stories.tsx
  tests/lib/date.test.ts
  tsconfig.app.json
  vite.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: enhance DatePicker component and add TypeScript support
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/model/use-popover.ts
  src/ui/date-picker/date-picker.tsx
  stylelint.config.js
  vite.config.ts
Due: prettier --write, eslint --fix

feat: update package.json to include CSS exports, adjust popover placement, and modify date picker input display style
  package.json
  src/model/use-popover.ts
  src/ui/date-picker-input/date-picker-input.module.css
Due: stylelint --fix, prettier --write, eslint --fix

feat: update README.md to enhance clarity, improve feature descriptions, and adjust usage instructions
  README.md
Due: none

feat: add UI and unit test workflows for automated testing
  .github/workflow/ui-tests.yml
  .github/workflow/unit-tests.yml
Due: none

feat: add UI and unit test workflows for automated testing
  .github/workflows/ui-tests.yml
  .github/workflows/unit-tests.yml
Due: none

feat: refactor code structure for improved readability and maintainability
  package.json
  pnpm-lock.yaml
Due: none

feat: update Playwright image version to v1.57.0 for UI tests
  .github/workflows/ui-tests.yml
Due: none
